<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:label="Ronumi E2E reader" />
    <instrumentation android:name=".E2eDriver" android:targetPackage="dev.agneswd.ronumi.e2e" />
</manifest>
